* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #222327;
  font-family: "Nunito Sans", Helvetica, sans-serif;
  animation: smoothLoad;
  animation-duration: 2s;
  background-color: white;
}

@keyframes smoothLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
